FlagEmbedding
deepspeed
pytrec_eval
mteb
wandb
sentence_transformers>=5.0.0
pylate>=1.2.0
torch
torchvision
torchaudio
numpy
transformers
accelerate
datasets<4.0.0
evaluate
optimum
peft
joblib>=1.2.0
scikit-learn>=1.2.1
pyserini<=0.39.0
faiss-cpu
xgboost
pytrec-eval
torch==2.7.1