PyYAML
deepspeed
pytrec_eval
mteb
openai==1.102.0
wandb>=0.22.3
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
numpy
transformers==4.48.2
accelerate
datasets<4.0.0
evaluate
optimum
peft
joblib>=1.2.0
scikit-learn>=1.2.1
pyserini<=0.39.0
faiss-cpu
xgboost
pytrec-eval
xformers
